
@font-face { 
	font-family: 'Raleway'; 
	src: url('../fonts/Raleway-Regular.ttf'); 
}
body{
	font-family: Raleway;
}
.welcome{
	color: red;
}
.navigation{
	height: 5em;
}
.text_center{
	text-align: center;
}
.justify{
	text-align: justify;
}
.img-circle {
    border-radius: 15%;
}
.loginForm{
	padding: 2em 0 2em 0em;
}
.footer{
	text-align: center;
	position: fixed;
	left: 0;
   	bottom: 0;
   	width: 100%;
   	background-color: #222;
   	color: white;
}
.validation{
	width: 25em;
	height: 1em;
}
.hideCheckout{
	display:none;
}

.form-center{
	display: inline-block;
}

