<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/admin_layout :: admin-header">
<title>Welcome to Manage Employee Page</title>
</head>
<body>
<div th:replace="common/admin_layout :: admin-navbar"></div>
<div class="container">
	<h2 class="text_center">Employee List</h2>
    <!-- /.container -->
	<div class="row">
		<div class="col-sm-4">
			<a href="/employee/add" class="btn btn-primary">Add</a>
		</div>
	</div>

    <div th:if="${not #lists.isEmpty(empList)}" class="table-responsive">   
	<table class="table table-striped">		
		<thead>
			<tr class="thstyle">
				<th class="no-sort">No.</th>
				<th>Name</th>
				<th>Email</th>
				<th>Address</th>
				<th>Department</th>
				<th>Payment</th>
				<th>Status</th>
				<th class="no-sort">Edit</th>
				<th class="no-sort">Delete</th>	
				<!-- <th> Delete</th>			 -->				
			</tr>
		</thead>
		<tbody>
			
			<tr th:each="emp,iterationStatus : ${empList}">				
				<td th:text="${iterationStatus.count + (page.size * (page.number-1))}"></td>
				<td th:text="${emp.name}"></td>
				<td th:text="${emp.email}"></td>
				<td th:text="${emp.address}"></td>
				<td th:text="${emp.department.deptName}"></td>
				<td th:text="${emp.payment.paymentType}"></td>
				<td th:text="${emp.status.statusName}"></td>

				<td class="">					
					<form method="post" th:action="@{/employee/edit}">
			        	<input type="text" hidden="hidden" value="id" name="id" th:value="${emp.id}"/>
			        	<button type="submit" class="btn btn-primary btnedit"><i class="glyphicon glyphicon-edit"></i></button>
			    	</form>
				</td>
				<td class="">
					<input type="text"   hidden="hidden"  value="id"   th:value="${emp.id}"/>          		      
					<button type="button" class="btn btn-primary btnedit"  th:onclick=" 'javascript:showModel(\'' + ${emp.id} + '\');' " >
					<i class="glyphicon glyphicon-trash delete"></i></button>
				</td>
				
			</tr>
		</tbody>		
	</table>
	<!-- Pagination Bar -->
    <div th:fragment='paginationbar'>
        <div>
            <ul class='pagination pagination-centered'>
                <li th:class="${page.firstPage}?'disabled':''">
                <span th:if='${page.firstPage}'>First</span>
                <a th:if='${not page.firstPage}' th:href='@{${page.url}(page=0,size=${page.size})}'>First</a>
                </li>
                <li th:class="${page.hasPreviousPage}? '' : 'disabled'">
                <span th:if='${not page.hasPreviousPage}'>Prev</span>
                <a th:if='${page.hasPreviousPage}' th:href='@{${page.url}(page=${page.number-2},size=${page.size})}' title='Go to previous page'>«</a>
                </li>
                <li th:each='item : ${page.items}' th:class="${item.current}? 'active' : ''">
                <span th:if='${item.current}' th:text='${item.number}'>1</span>
                <a th:if='${not item.current}' th:href='@{${page.url}(page=${item.number-1},size=${page.size})}'><span th:text='${item.number}'>1</span></a>
                </li>
                <li th:class="${page.hasNextPage}? '' : 'disabled'">
                <span th:if='${not page.hasNextPage}'>Next</span>
                <a th:if='${page.hasNextPage}' th:href='@{${page.url}(page=${page.number},size=${page.size})}' title='Go to next page'>Next</a>
                </li>
                <li th:class="${page.lastPage}? 'disabled' : ''">
                <span th:if='${page.lastPage}'>Last</span>
                <a th:if='${not page.lastPage}' th:href='@{${page.url}(page=${page.totalPages - 1},size=${page.size})}'>Last</a>
                </li>
            </ul>
        </div>
    </div>
	<form method="post" th:action="@{/employee/delete}">
		<div class="modal fade" id="myModal" role="dialog">
	    	<div class="modal-dialog">    
	      	<!-- Modal content-->
	      	<div class="modal-content">
	        	<div class="modal-header">
	          		<button type="button" class="close" data-dismiss="modal">&times;</button>
	          		<h4 class="modal-title alignh4">Employee</h4>
	       		</div>
	        	<div class="modal-body">
	          		<p>Are you sure to Delete?</p>
	        	</div>      
	        	<div class="modal-footer">
	          		<input type="text"  hidden="text" id="delId2" name="id"  th:value="${delId}"/>
	          		<button type="submit" class="btn btn-primary editbtn" >OK</button> 
	         		<button type="button" class="btn btn-secondary editbtn" data-dismiss="modal">Cancel</button>
	        	</div>
      		</div>  
    	</div>
  </div>
  </form>
	</div>
</div>

<footer th:replace="common/admin_layout :: admin-footer"></footer>
<script th:inline="javascript">
$(document).ready(function(){
	$("#home").removeClass("active");
	$("#manage").addClass("active");
});
function showModel(variable){		
	 console.log(variable);
	 $("#delId").val(variable);
	 $("#delId2").val(variable);
	 $("#myModal").modal("show");
	}
</script>
</body>
</html>